package views

import "go_fullstack/views/components"
import "go_fullstack/views/components/layout"


templ Main() {
	<main>
	@layout.Header() {
		@components.Title("Найди работу своей мечты")
	}
	Main
	</main>
}