package views

import "go_fullstack/views/components"
import "go_fullstack/views/components/layout"


templ Main() {
		@layout.Layout(layout.LayoutProps{
		Title: "Найди работу мечты",
		MetaDescription: "Сайт по поиску работы мечты",
	}) {
		<main>
			@layout.Header() {
			@layout.Menu()
			@components.Title("Найди работу своей мечты")
			@components.SubTitle("Простой поиск работы")
			}
			Main
		</main>
	}
}